.container {
    margin-top: 20px;
}

.card {
    border: 1px solid #b6b5b5;
    margin-bottom: 10px;
}

.card img {
    border-radius: 50%;
}

.card-body {
    padding: 15px;
}

.btn {
    margin: 5px;
}